<section class="contact-section">
  <div class="contact-container">
    <h1>Contact Me</h1>
    <div class="contact-content">
      <!-- Phone -->
      <div class="contact-item">
        <i class="fa fa-phone fa-2x"></i>
        <p>+1 513-838-6674</p>
      </div>
      <!-- Email -->
      <div class="contact-item">
        <i class="fa fa-envelope fa-2x"></i>
        <p>shiva.kaloor29&#64;gmail.com</p>
      </div>
      <!-- LinkedIn -->
      <div class="contact-item">
        <i class="fa fa-linkedin fa-2x"></i>
        <a href="https://www.linkedin.com/in/shiva-teja-kaloor/" target="_blank">LinkedIn Profile</a>
      </div>
    </div>
  </div>
</section>