<!-- Navigation Bar -->
<nav class="navbar">
  <div class="container">
    <button class="navbar-toggle" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
    </button>
    <ul [ngClass]="{ 'open': isMenuOpen }" class="nav-links">
      <li><a (click)="closeMenuOnNavigate()" routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
      <li><a (click)="closeMenuOnNavigate()" routerLink="/about" routerLinkActive="active"><i class="fa fa-user"></i> About</a></li>
      <li><a (click)="closeMenuOnNavigate()" routerLink="/projects" routerLinkActive="active"><i class="fa fa-project-diagram"></i> Projects</a></li>
      <li><a (click)="closeMenuOnNavigate()" routerLink="/skills" routerLinkActive="active"><i class="fa fa-tools"></i> Skills</a></li>
      <li><a (click)="closeMenuOnNavigate()" routerLink="/education" routerLinkActive="active"><i class="fa fa-graduation-cap"></i> Education</a></li>
      <li><a (click)="closeMenuOnNavigate()" routerLink="/contact" routerLinkActive="active"><i class="fa fa-envelope"></i> Contact</a></li>
    </ul>
  </div>
</nav>

<!-- Add your router outlet here -->
<router-outlet></router-outlet>